{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Upload Data</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/page.css' %}">
  <link rel="stylesheet" href="{% static 'css/alerts.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="{% url 'upload_data' %}">Upload Data</a></li>
            <li><a href="{% url 'query_builder' %}">Query Builder</a></li>
            <li><a href="{% url 'get_users' %}">Users</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <form method="POST" action="{% url 'custom_logout' %}" style="display: inline;">
                    <button type="submit" class="btn btn-link navbar-btn">
                        <span class="glyphicon glyphicon-user"></span> Logout
                    </button>
                </form>
            </li>
        </ul>
    </div>
    </nav>
<div class="container-fluid">
  <form method="POST" action="{% url 'delete_user' %}">
    <div class="container">
    {% include 'alerts.html' %}
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8"><h2>Users</h2></div>
            <div class="col-sm-4">
                <a href="{% url 'add_user' %}" class="btn btn-primary add-new">Add User</a>
            </div>
        </div>
    </div>
    <table class="table">
        <tbody>
          {% for user in users %}
            <tr>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.is_active }}</td>
              <td>
                <!-- <div class="xDelete">X</div> -->
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <button type="submit" class="xDelete">X</button>
              
              
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="3">No users found</td>
            </tr>
          {% endfor %}
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
</body>
</html>

